@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #cbf1c4;
}

.card,
.btn,
.btn:hover,
.form-control,
.form-control:focus {
  background-color: #e4f9e0;
  color: #6e786c;
  border: none;
}

textarea {
  resize: none;
}

.form-control-plaintext {
  padding: 0px 0.25rem;
  border: none;
}
